@model SpaceXLaunchData.ViewModels.LaunchesViewModel


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<link href="~/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/styles/kendo.rtl.min.css" rel="stylesheet" />
<link href="~/styles/kendo.default.min.css" rel="stylesheet" />
<link href="~/styles/kendo.mobile.all.min.css" rel="stylesheet" />

<script src="~/js/js/jquery.min.js"></script>
<script src="~/js/js/kendo.all.min.js"></script>
<script src="~/js/js/jszip.min.js"></script>


<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
    </div>
</nav>
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>SpaceX Launch Data</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            <div id="grid" style="height:550px;"></div>
        </div>
    </div>
</div>

<script>
    function sampleData() {
        var data = new Array();

        var launches = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Launches));




        @foreach (var launch in Model.Launches)
        {
            @:data.push({ FlightName: "@launch.RocketName", LaunchDate: "@launch.LaunchDate", LaunchResult: "@launch.RocketResult", CargoManifest: "@launch.Manifest" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#grid").kendoGrid({
            columns: [{
                title: "Flight Name",
                field: "FlightName",
                filterable: false,
                encoded: true
            }, {
                title: "Launch Date",
                field: "LaunchDate",
                encoded: true
            }, {
                title: "Cargo Manifest",
                field: "CargoManifest",
                encoded: true
            }, {
                title: "Launch Result",
                field: "LaunchResult",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: sampleData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            FlightName: {
                                type: "string"
                            },
                            CustomerID: {
                                type: "string"
                            },
                            ContactName: {
                                type: "string"
                            },
                            Freight: {
                                type: "number",
                                defaultValue: null
                            },
                            ShipAddress: {
                                type: "string"
                            },
                            OrderDate: {
                                type: "date",
                                defaultValue: null
                            },
                            ShippedDate: {
                                type: "date",
                                defaultValue: null
                            },
                            ShipCountry: {
                                type: "string"
                            },
                            ShipCity: {
                                type: "string"
                            },
                            ShipName: {
                                type: "string"
                            },
                            EmployeeID: {
                                type: "number",
                                defaultValue: null
                            }
                        }
                    }
                }
            }
        });
    });
</script>




